$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$max-width: 1100px;

// set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// mixin - function but only outputs, no inputs
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// margin and padding
@for $i from 1 through 5 {
  .m-#{i} {
    margin: #{$i}rem;
  }

  .my-#{$i} {
    margin: #{$i}rem 0;
  }

  .p-#{$i} {
    padding: #{$i}rem;
  }
  .py-#{$i} {
    padding: #{$i}rem 0;
  }
}
