
*.code-workspace

*.sublime-project

*.sublime-workspace

TravisMedia_WebDevCrashCourses/ResponsivePortfolioWebsiteProject/node_modules/

TravisMedia_WebDevCrashCourses/HTML_CSS_Playlist/bootstrap4ThemeProject/node_modules/

vsCodeVenv/

TravisMedia_WebDevCrashCourses/JS_Playlist/GoogleMapsAPI/index.html

TravisMedia_WebDevCrashCourses/JS_Playlist/PetFinder/node_modules/

TravisMedia_WebDevCrashCourses/JS_Playlist/PetFinder/js/keys.js

TravisMedia_WebDevCrashCourses/JS_Playlist/PetFinder/dist/

TravisMedia_WebDevCrashCourses/JS_Playlist/PetFinder/.cache/

TravisMedia_WebDevCrashCourses/JS_Playlist/PetFinder/package-lock.json

TravisMedia_WebDevCrashCourses/JS_Playlist/PetFinder/package.json

node_modules/

coursera/Full-StackWebDevReact/WebFrameWorkBootsrap/capstone/snow_tour-web_ex/

.cache/

dist/

codeCampProjects/APIsBeginners/js


*.env

section20_MailChimpExample/