
*.code-workspace

*.sublime-project

*.sublime-workspace

TravisMedia_WebDevCrashCourses/ResponsivePortfolioWebsiteProject/node_modules/

TravisMedia_WebDevCrashCourses/HTML_CSS_Playlist/bootstrap4ThemeProject/node_modules/

vsCodeVenv/
