@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #333 url('https://image.ibb.co/n5A2HU/showcase.jpg') no-repeat
    center center / cover;
  color: #ccc;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: red; */
  height: 100%;
  padding: 0 3rem;
}

.container h1,
.container h2 {
  /* background: blue; */
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: #aaa;
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}
