$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(/TravisMedia_WebDevCrashCourses/ResponsivePortfolioWebsiteProject/dist/img/background.jpg);
// $home-image: url(../dist/img/background.jpg);
$background-opacity: 0.8;

@mixin easeOut {
  // what to change (properties within this class), time, motion type
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      // fit to screen container
      background-size: cover;

      // pseudo variable
      &::after {
        // can add content but won't
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Media Query Mixins
@mixin mediaSm {
  // if 500 px or less
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
