// Menu Button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  //   Rotate into X with Menu Lines
  &.close {
    transform: rotate(180deg);
    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        display: none;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  //   display: none;
  &.show {
    visibility: visible;
    // display: block;
  }

  //   same as &.menu-branding
  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;

    @include easeOut();
    transform: translate3d(0, -100%, 0);

    &.show {
      // slide in from top
      @include easeOut();
      transform: translate3d(0, 0, 0);
    }
  }

  //   Branding Side
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);

    @include easeOut();
    &.show {
      // slide in from top
      @include easeOut();
      transform: translate3d(0, 0, 0);
    }
    .portrait {
      width: 250px;
      height: 250px;
      background: url("/TravisMedia_WebDevCrashCourses/ResponsivePortfolioWebsiteProject/dist/img/portrait.jpg");
      background-position: center;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  //   slide nav items in from side
  .nav-item {
    transform: translate3d(600%, 0, 0);
    @include easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;
    &:hover {
      color: $secondary-color;
    }
  }
}

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
