@import "config";
@import "menu";
@import "mobile";
* {
  //padding won't effect box model
  box-sizing: border-box;
}
body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 200;
  //   nesting with sass
  // .lg-heading for <h1> <div class="lg-heading"> </div> </h1>
  // &.lg-heading for <h1 class="lg-heading"></h1>
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // lighten background and give it an alpha (rgba)
    background: rgba(lighten($primary-color, 3), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  // keep menu and header on top
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  &#home {
    // no scroll bar
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}
